.bg {
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 800px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 20vh;
}

.size-p {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 4px rgb(128, 128, 128);
    font-family: sans-serif;
    text-shadow: 0 0 5px white;
    color: white;
}

.title-style {
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-shadow: 0 0 10px rgba(255, 22, 92, 0.987);
    color: rgb(255, 63, 63);
}

.title-pod {
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(85, 249, 255, 0.987);
    color: rgb(6, 95, 54);
}

.img-de {
    border-radius: 25px;
    padding: 1rem!important;
}

.video-de {
    position: block;
    margin: auto 0!important;
}

.container-sm {
    padding-right: var(--bs-gutter-x,1rem)!important;
    padding-left: var(--bs-gutter-x,1rem)!important;
}

.dark {
    background: linear-gradient(rgb(36 36 36 / 57%),rgb(0 0 0 / 88%))
}

.dark-2 {
    background: linear-gradient(rgb(36 36 36 / 57%),rgb(0 0 0 / 88%))
}