.footer-pos {
	display: grid;
	grid-template-rows: auto 1fr auto;
	/* justify-content: space-evenly;
	flex-flow: row; */
	width: 100%;
	
}

.content {
	display: flex;
	justify-content: space-evenly;
}

.black-div {
	height: 300px;
	font-family: sans-serif;
}

.width {
	width: 60px;
}

.unline-none {
	text-decoration: none;
	font-size: 14px;
}

.pad-l {
	padding-right: 250px;
}