img {
    width: 100%;
}

body {
    /* background-image: url(https://img2.goodfon.ru/wallpaper/nbig/5/1b/cvet-pyatno-relef-kraski-1624.jpg); */
    background: url(../components/css/img/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.footer {
    margin-top: auto!important;
}

.slider {
    background-image: url(https://monacofrance.net/assets/images/AdobeStock_94584043.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 600px;
    position: relative;
    color: tomato;
}

.slider .opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: revert;
    font-weight: 800;
    text-shadow: 0 0 15px rgb(255 102 102);
    font-size: 55px;
}

.Link-detail {
    text-decoration: none;
    text-transform: none;
}

.animate-link {
    transition: 0.2s;
}

.animate-link:hover{
    -webkit-transform: scale(1.03); 
    transform: scale(1.03);
    opacity: 0.9;
}

.text-de {
    font-size: 17px;
    text-shadow: 0 0 3px #ff6bc1;
    color: rgb(255, 101, 101);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-item {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px rgb(110, 110, 110);
}

.card {
    overflow: hidden;
}

.con-card {
    background: linear-gradient(to right, #ff9d2c, #ff3574);
}

.navbar-brand{
    padding-top: 0!important;
}

.bg-light {
    background: linear-gradient(to right, );
}

.brand-plus {
    font-family: system-ui;
    font-weight: 600;
    opacity: 0.9;
    transition: 0.2s;
    font-size: 24px!important;
}

.modern {
    transition: 0.2s;
    font-weight: 500;
}

.modern:hover {
    text-shadow: 0 0 15px rgb(65, 211, 255);

}

.brand-plus:hover{
    text-shadow: 0 0 10px #14ffe4;
    opacity: 1;
}

.mod-card {
    object-fit: cover;
}

.d4 {background: #F15B42;}
.d4 form {
  background: #F9F0DA;
  border-bottom: 4px solid #be290e;
}
.d4 input, .d4 button {
  border: none;
  outline: none;
  background: transparent;
}
.d4 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.d4 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d4 button:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: #be290e;
}

.slider { 
    font: 400 1em/1.5 "Neuton"; 
    background: linear-gradient(360deg, #42424270, #df2a51);    
    color: rgba(255,255,255,.25); 
    text-align: center; 
    margin: 0; 
}

.p-op {
    color: black;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
    font-size: 23px;
}

  .s-op {
    /* font-size: 120px; */
  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  transform: translate3d(0,0,0);
	  backface-visibility: hidden;

}

/* Animate Background Image */

@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

@media (min-width: 768px) {
    .mod-card {
        height: 70%;
    }
}

@media (min-width: 768px) {
    .mod-card {
        height: 70%;
    }
}

@media (min-width: 576px){
    .mod-card {
        height: 100%;
    }
}

@media (min-width: 768px){
    .mod-card {
        min-height: 80%;
        max-height: 80%;
    }
}

@media (max-width: 845px){
    .mod-card {
        height: 65vh;
    }
}

@media (max-width: 930px){
    .mod-card {
        height: 62vh;
    }
}


@media (max-width: 1095px){
    .mod-card {
        height: 50vh;
    }
}


@media (max-width: 1205px){
    .mod-card {
        height: 50vh;
    }
}

@media (max-width: 1400px){
    .mod-card {
        height: 50vh;
    }
}

@media (min-width: 1400px){
    .mod-card {
        height: 50vh;
    }
}